In [8]:
import pandas as pd


emission = pd.read_csv('emission.csv')
emission = emission.rename(columns={
    "Country" : "country",
    "Fossil CO2 emissions(Mt CO2)" : "emission_1990",
    "Unnamed: 2" : "emission_2005",
    "Unnamed: 3" : "emission_2017",
    "Fossil CO2 emissions" : "world_percentage",
    "Unnamed: 5" : "2017_1990_comparison",
    "2017  Fossil CO2 emissions" : "2017_per_square_km",
    "Unnamed: 7" : "2017_per_capita",
    "2018 CO2 emissions" : "emission_2018_total",
    "Unnamed: 9" : "emission_2018_excluding_lucf"
    })

# emission_countries = emission.truncate(before=4, )

emission.head(12)

In [9]:
#emission_countries = emission.truncate(before=4, )
emission_countries.head(10)

,Country,Fossil CO2 emissions(Mt CO2),Unnamed: 2,Unnamed: 3,Fossil CO2 emissions,Unnamed: 5,2017 Fossil CO2 emissions,Unnamed: 7,2018 CO2 emissions,Unnamed: 9
4,Afghanistan,2.546,1.063,11.422,0.03%,348.60%,18,0.3,7.59,7.44
5,Albania,6.583,4.196,5.026,0.01%,-23.70%,175,1.7,5.32,5.56
6,Algeria,65.677,98.197,159.929,0.43%,143.50%,67,3.9,151.87,151.67
7,Angola,5.851,15.975,30.876,0.08%,427.70%,25,1,62.93,27.34
8,Anguilla,0.006,0.014,0.028,0.00%,366.70%,308,1.9,NaN,NaN
9,Antigua and Barbuda,0.223,0.283,0.624,0.00%,179.80%,1412,6.1,0.53,0.53
10,Argentina,112.434,165.429,209.968,0.57%,86.70%,76,4.7,207.11,177.41
11,Armenia,20.699,4.542,4.832,0.01%,-76.70%,162,1.6,5.59,5.55
12,Aruba,0.297,0.470,0.959,0.00%,222.90%,5328,9.1,NaN,NaN
13,Australia,275.408,391.590,402.253,1.08%,46.10%,52,16.5,388.81,386.62

In [11]:
emission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213 entries, 0 to 212
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       212 non-null    object
 1   emission_1990                 213 non-null    float64
 2   emission_2005                 213 non-null    float64
 3   emission_2017                 213 non-null    float64
 4   world_percentage              213 non-null    object
 5   2017_1990_comparison          213 non-null    object
 6   2017_per_square_km            211 non-null    object
 7   2017_per_capita               211 non-null    object
 8   emission_2018_total           186 non-null    object
 9   emission_2018_excluding_lucf  185 non-null    object
dtypes: float64(3), object(7)
memory usage: 16.8+ KB

In [ ]:
total_em = emission[""]